/* inportando a fonte de um site externo */
@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* variaveis padrão do estilo da página */
:root {
  /* cores do site */
  --cor-fundo: #f2f2f2;
  --cor-azul: #064073;
  --cor-vermelha: #d91a3d;
  --cor-amarela: #f2b84b;
  --cor-laranja: #d97f30;
  /* fonte do site */
  --fonte-site: "Epunda Sans", sans-serif;
}

/* estilo do corpo geral da página */
body{
  background-color: var(--cor-amarela);
}

/* estilo da nav */
.navColor{
  background-color: var(--cor-azul);
  filter: opacity(95%);
}

/* animação de passar o mouser por cima do link de navegação */
.nav-link:hover {
  border-bottom: 1px solid var(--cor-amarela);
  border-radius: 5px;
  transition: 0.3s ease;
}

/* animação de quando o link ser clicado o mouser por cima do link de navegação */
.nav-link:active {
  color:var(--cor-vermelha);
  transition: 0.3s ease;
}

/* div do conteudo principal da tela ficar alinhado ao centro com uma margem das laterais */
.containerMain{
  margin: 85px;
}