/* inportando a fonte de um site externo */
@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* variaveis padrão do estilo da página */
:root {
  /* cores do site */
  --cor-fundo: #f2f2f2;
  --cor-azul: #064073;
  --cor-vermelha: #d91a3d;
  --cor-amarela: #f2b84b;
  --cor-laranja: #d97f30;
  /* fonte do site */
  --fonte-site: "Epunda Sans", sans-serif;
}

/* cor de fundo da estrutura da página */
body {
  background: var(--cor-fundo);
  font-family: var(--fonte-site);
}

/* cor de fundo do header */
.headerBackground {
  background: var(--cor-azul);
}

/* estilo do titulo de ofertas */
.titulo {
  font-weight: 500;
}

/*estilo da logo da navbar do site*/
.logoNavbar {
  border-radius: 50%;
  border: 1px solid var(--cor-amarela);
}

/*estilo do rodapé da página*/
footer {
  background-color: var(--cor-fundo);
  color: var(--cor-azul);
}

footer a {
  text-decoration: none;
  color: var(--cor-azul);
  transition: 0.3s;
}

footer a:hover {
  color: var(--cor-vermelha);
}

.footer-bottom {
  background-color: var(--cor-azul);
  color: #fff;
  padding: 10px 0;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.4rem;
  color: var(--cor-azul);
}

.social-icons a:hover {
  color: var(--cor-vermelha);
}
